@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('../fonts/TT Lakes Bold'), local('TTLakes-Bold'),
    url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('../fonts/TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('../fonts/TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* For normalize */

ul {
    overflow: auto;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}


/* Custom styles */

html {
    font-size: 62.5%;
    font-family: "TT Lakes", Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}


@media screen and (min-width: 320px) {
    body {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .main-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
    }

    .main-menu--desktop-only {
        display: none;
    }

    .main-menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-menu__item-text {
        display: none;
    }

    .main-menu__logo {
        width: 96px;
        height: 51px;
        background: url("../img/logo.png") no-repeat center left;
    }

    .main-menu__divider {
        height: 3.2rem;
        width: .2rem;
        background: url("../img/line.png") no-repeat center center;
    }

    .main-menu__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        background-color: #FF3E79;
        border-radius: 50%;
    }


    main {
        background-color: #F8F8F8;
    }


    .main-title__header {
        flex-basis: 100%;
        margin: 0;
        padding: 2.4rem 0;
        font-weight: bold;
        font-size: 2.8rem;
    }

    .main-title::before {
        content: '';
        height: 3rem;
        border-left: 4px solid #41F6D7;
        border-radius: 40%;
        position: absolute;
        left: 0;
    }

    .secondary-menu {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }

    .secondary-menu__item {
        display: flex;
        flex: 1 0 auto;
        height: 4rem;
        box-sizing: border-box;
        padding: .8rem;
        font-size: 16px;
        text-align: center;
        border: 2px solid #F8F8F8;
        border-radius: 6px;
    }

    .secondary-menu__item--active {
        background: #FFFFFF;
        border-color: #B8FFEC;
    }


    .secondary-menu__item a {
        text-decoration: none;
        color: #7E7E82;
    }

    .secondary-menu__item a:visited {
        color: #7E7E82;
    }


    .button {
        border: none;
        padding-left: 30px;
        background: #F8F8F8 url("../img/arrows.png") no-repeat center left;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }

    .main-menu__item--mobile-hidden {
        display: none;
    }

    .main-menu__divider:first-of-type {
        display: none;
    }

    .secondary-menu__item--mobile-hidden {
        display: none;
    }

    .secondary-menu__item--mobile-hidden-active {
        display: none;
    }

    .self-info {
        display: flex;
        flex-direction: column;
    }

    .self-info img {
        width: 100%;
    }

    .self-info__text {
        display: block;
        line-height: 18px;
    }

    .self-info__clip-text {
        overflow: hidden;
        text-overflow: clip;
        max-height: 100px;
        letter-spacing: 0.2px;
    }

    .self-info__img {
        margin-top: 16px;
    }

    .self-info__button {
        margin-top: 16px;
    }

    .main-text {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) {
    .container {
        width: 93%;
        margin: 0 auto;
    }

    .main-menu__item--mobile-hidden {
        display: flex;
    }

    .main-menu__divider:first-of-type {
        display: flex;
    }

    .main-menu__logo {
        flex-grow: 0.5;
    }

    .self-info {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .self-info__text {
        width: 31.2rem;
        display: block;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    .self-info__clip-text {
        overflow: hidden;
        text-overflow: clip;
        max-height: 170px;
    }

    .self-info__img {
        flex-basis: 50%;
    }

}

@media screen and (min-width: 1120px) {

    .main-menu {
        display: none;
    }

    .main-menu--desktop-only {
        display: flex;
        flex-basis: 35%;
    }

    .main-menu__item-text {
        display: block;
        font-size: 16px;
        font-weight: 500;
        margin-right: 0.8rem;
    }

    .main-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-title::before {
        margin-top: 2.4rem;
    }

    .main-title__header {
        flex: 0 1 auto;
    }

    .self-info__text {
        display: block;
        line-height: 18px;
    }

    .secondary-menu {
        flex-wrap: wrap;
    }

    .secondary-menu__item {
        flex-grow: 0;
    }

    .secondary-menu__item--mobile-hidden-active {
        display: block;
        background: #FFFFFF;
        border-color: #B8FFEC;
    }

    .secondary-menu__item--active {
        background: none;
        border-color: #F8F8F8;
    }

    .secondary-menu__item--mobile-hidden {
        display: block;
    }

    .secondary-menu__item--desktop-hidden {
        display: none;
    }

    .self-info__text {
        width: 49rem;
    }

    .self-info__clip-text {
        overflow: hidden;
        text-overflow: clip;
        max-height: 170px;
    }

}